.logoNotes svg {
  height: max-content;
}

.contentNext {
  background-color: #c8ad8d;
  display: flex;
  padding: 20px;
  gap: 20px;
  height: auto;
  min-height: 100vh;
}
.notesLeft {
  width: 100%;
  max-width: 150px;
}

.addButton {
  margin: 20px auto;
  width: 40%;
}

.addButton:hover{
  cursor: pointer;
}
.post{
  display: none;
}
@media screen and (max-width:600px){
  .nota{
    width: 100%;
    max-width: 100%;
  }
}
@media screen and (min-width:601px){
  .nota{
    width: 50%;
  }
}